### Data Integration

In [9]:
# Code to import libraries as you need in this assessment
import numpy as np
import pandas as pd
import datetime
import re
import random

In [10]:
df1 = pd.read_csv('../cleaned_csv/cleaned_gov_measured.csv')
df2 = pd.read_csv('../cleaned_csv/covid19_cumulative_monthly_stats.csv')
df3 = pd.read_csv('../cleaned_csv/covid19_cumulative_monthly_vacc_stats.csv')
df4 = pd.read_csv('../cleaned_csv/covid19_monthly_statistics.csv')
# Display two dataframes together to compare
print('S1:' + str(df1.shape))
display(df1.head())
print('S2:' + str(df2.shape))
display(df2.head())
print('S3:' + str(df3.shape))
display(df3.head())
print('S4:' + str(df4.shape))
display(df4.head())

S1:(3946, 9)

,ISO,COUNTRY,REGION,EXISTING_MEASURE_OR_NEW_MEASURE,CATEGORY,MEASURE,NON_COMPLIANCE,DATE_IMPLEMENTED,SOURCE
0,ARG,Argentina,South America,Introduction / extension of measures,Public health measures,Awareness campaigns,not applicable,2020-02-17,government
1,ARG,Argentina,South America,Introduction / extension of measures,Movement restrictions,Visa restrictions,not applicable,2020-03-11,government
2,ARG,Argentina,South America,Introduction / extension of measures,Movement restrictions,International flights suspension,not applicable,2020-03-12,government
3,ARG,Argentina,South America,Introduction / extension of measures,Public health measures,Isolation and quarantine policies,not applicable,2020-03-12,government
4,ARG,Argentina,South America,Introduction / extension of measures,Social distancing,Limit public gatherings,not applicable,2020-03-12,government

S2:(372, 9)

,ISO,REGION,COUNTRY,month_year,population,stringency_index,total_cases,total_deaths,total_tests
0,ARG,South America,Argentina,January 2020,45195777,11,0,0,432
1,ARG,South America,Argentina,February 2020,45195777,11,0,0,519
2,ARG,South America,Argentina,March 2020,45195777,100,1054,27,7189
3,ARG,South America,Argentina,April 2020,45195777,100,4428,218,70283
4,ARG,South America,Argentina,May 2020,45195777,94,16851,539,202421

S3:(372, 6)

,ISO,REGION,COUNTRY,month_year,population,cumulative_vaccinations_count
0,ARG,South America,Argentina,April 2020,45195777,0
1,ARG,South America,Argentina,April 2021,45195777,176010231
2,ARG,South America,Argentina,August 2020,45195777,176010231
3,ARG,South America,Argentina,August 2021,45195777,584869607
4,ARG,South America,Argentina,December 2020,45195777,584918676

S4:(372, 10)

,ISO,REGION,COUNTRY,month_year,population,new_cases,new_deaths,partially_vaccinated,fully_vaccinated,total_vaccinations
0,ARG,South America,Argentina,April 2020,45195777.0,3374,191,0,0,0
1,ARG,South America,Argentina,April 2021,45195777.0,628542,8007,152598938,23411293,176010231
2,ARG,South America,Argentina,August 2020,45195777.0,226433,5117,0,0,0
3,ARG,South America,Argentina,August 2021,45195777.0,136489,2848,310357885,98501491,408859376
4,ARG,South America,Argentina,December 2020,45195777.0,200981,4515,0,0,0

In [11]:
print (df1.info())
print (df2.info())
print (df3.info())
print (df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ISO                              3946 non-null   object
 1   COUNTRY                          3946 non-null   object
 2   REGION                           3946 non-null   object
 3   EXISTING_MEASURE_OR_NEW_MEASURE  3946 non-null   object
 4   CATEGORY                         3946 non-null   object
 5   MEASURE                          3946 non-null   object
 6   NON_COMPLIANCE                   3946 non-null   object
 7   DATE_IMPLEMENTED                 3946 non-null   object
 8   SOURCE                           3946 non-null   object
dtypes: object(9)
memory usage: 277.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ISO               372 non-null    object
 1   REGION            372 non-null    object
 2   COUNTRY           372 non-null    object
 3   month_year        372 non-null    object
 4   population        372 non-null    int64
 5   stringency_index  372 non-null    int64
 6   total_cases       372 non-null    int64
 7   total_deaths      372 non-null    int64
 8   total_tests       372 non-null    int64
dtypes: int64(5), object(4)
memory usage: 26.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ISO                            372 non-null    object
 1   REGION                         372 non-null    object
 2   COUNTRY                        372 non-null    object
 3   month_year                     372 non-null    object
 4   population                     372 non-null    int64
 5   cumulative_vaccinations_count  372 non-null    int64
dtypes: int64(2), object(4)
memory usage: 17.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ISO                   372 non-null    object
 1   REGION                372 non-null    object
 2   COUNTRY               372 non-null    object
 3   month_year            372 non-null    object
 4   population            372 non-null    float64
 5   new_cases             372 non-null    int64
 6   new_deaths            372 non-null    int64
 7   partially_vaccinated  372 non-null    int64
 8   fully_vaccinated      372 non-null    int64
 9   total_vaccinations    372 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 29.2+ KB
None

In [12]:
df = pd.merge(df3, df4, on=['ISO','REGION','COUNTRY','month_year','population'])
df.head()

,ISO,REGION,COUNTRY,month_year,population,cumulative_vaccinations_count,new_cases,new_deaths,partially_vaccinated,fully_vaccinated,total_vaccinations
0,ARG,South America,Argentina,April 2020,45195777,0,3374,191,0,0,0
1,ARG,South America,Argentina,April 2021,45195777,176010231,628542,8007,152598938,23411293,176010231
2,ARG,South America,Argentina,August 2020,45195777,176010231,226433,5117,0,0,0
3,ARG,South America,Argentina,August 2021,45195777,584869607,136489,2848,310357885,98501491,408859376
4,ARG,South America,Argentina,December 2020,45195777,584918676,200981,4515,0,0,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 0 to 371
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ISO                            372 non-null    object
 1   REGION                         372 non-null    object
 2   COUNTRY                        372 non-null    object
 3   month_year                     372 non-null    object
 4   population                     372 non-null    int64
 5   cumulative_vaccinations_count  372 non-null    int64
 6   new_cases                      372 non-null    int64
 7   new_deaths                     372 non-null    int64
 8   partially_vaccinated           372 non-null    int64
 9   fully_vaccinated               372 non-null    int64
 10  total_vaccinations             372 non-null    int64
dtypes: int64(7), object(4)
memory usage: 34.9+ KB

In [14]:
df = pd.merge(df2, df, on=['ISO','REGION','COUNTRY','month_year','population'])
df.head()

,ISO,REGION,COUNTRY,month_year,population,stringency_index,total_cases,total_deaths,total_tests,cumulative_vaccinations_count,new_cases,new_deaths,partially_vaccinated,fully_vaccinated,total_vaccinations
0,ARG,South America,Argentina,January 2020,45195777,11,0,0,432,602449904,0,0,0,0,0
1,ARG,South America,Argentina,February 2020,45195777,11,0,0,519,584918676,0,0,0,0,0
2,ARG,South America,Argentina,March 2020,45195777,100,1054,27,7189,1929371960,1054,27,0,0,0
3,ARG,South America,Argentina,April 2020,45195777,100,4428,218,70283,0,3374,191,0,0,0
4,ARG,South America,Argentina,May 2020,45195777,94,16851,539,202421,2006542580,12423,321,0,0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 0 to 371
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ISO                            372 non-null    object
 1   REGION                         372 non-null    object
 2   COUNTRY                        372 non-null    object
 3   month_year                     372 non-null    object
 4   population                     372 non-null    int64
 5   stringency_index               372 non-null    int64
 6   total_cases                    372 non-null    int64
 7   total_deaths                   372 non-null    int64
 8   total_tests                    372 non-null    int64
 9   cumulative_vaccinations_count  372 non-null    int64
 10  new_cases                      372 non-null    int64
 11  new_deaths                     372 non-null    int64
 12  partially_vaccinated           372 non-null    int64
 13  fully_vaccinated               372 non-null    int64
 14  total_vaccinations             372 non-null    int64
dtypes: int64(11), object(4)
memory usage: 46.5+ KB

In [17]:
df_final = pd.merge(df1, df, on=['ISO','REGION','COUNTRY'])
df_final.head()

,ISO,COUNTRY,REGION,EXISTING_MEASURE_OR_NEW_MEASURE,CATEGORY,MEASURE,NON_COMPLIANCE,DATE_IMPLEMENTED,SOURCE,month_year,...,stringency_index,total_cases,total_deaths,total_tests,cumulative_vaccinations_count,new_cases,new_deaths,partially_vaccinated,fully_vaccinated,total_vaccinations
0,ARG,Argentina,South America,Introduction / extension of measures,Public health measures,Awareness campaigns,not applicable,2020-02-17,government,January 2020,...,11,0,0,432,602449904,0,0,0,0,0
1,ARG,Argentina,South America,Introduction / extension of measures,Public health measures,Awareness campaigns,not applicable,2020-02-17,government,February 2020,...,11,0,0,519,584918676,0,0,0,0,0
2,ARG,Argentina,South America,Introduction / extension of measures,Public health measures,Awareness campaigns,not applicable,2020-02-17,government,March 2020,...,100,1054,27,7189,1929371960,1054,27,0,0,0
3,ARG,Argentina,South America,Introduction / extension of measures,Public health measures,Awareness campaigns,not applicable,2020-02-17,government,April 2020,...,100,4428,218,70283,0,3374,191,0,0,0
4,ARG,Argentina,South America,Introduction / extension of measures,Public health measures,Awareness campaigns,not applicable,2020-02-17,government,May 2020,...,94,16851,539,202421,2006542580,12423,321,0,0,0

In [18]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78209 entries, 0 to 78208
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ISO                              78209 non-null  object
 1   COUNTRY                          78209 non-null  object
 2   REGION                           78209 non-null  object
 3   EXISTING_MEASURE_OR_NEW_MEASURE  78209 non-null  object
 4   CATEGORY                         78209 non-null  object
 5   MEASURE                          78209 non-null  object
 6   NON_COMPLIANCE                   78209 non-null  object
 7   DATE_IMPLEMENTED                 78209 non-null  object
 8   SOURCE                           78209 non-null  object
 9   month_year                       78209 non-null  object
 10  population                       78209 non-null  int64
 11  stringency_index                 78209 non-null  int64
 12  total_cases                      78209 non-null  int64
 13  total_deaths                     78209 non-null  int64
 14  total_tests                      78209 non-null  int64
 15  cumulative_vaccinations_count    78209 non-null  int64
 16  new_cases                        78209 non-null  int64
 17  new_deaths                       78209 non-null  int64
 18  partially_vaccinated             78209 non-null  int64
 19  fully_vaccinated                 78209 non-null  int64
 20  total_vaccinations               78209 non-null  int64
dtypes: int64(11), object(10)
memory usage: 13.1+ MB

In [20]:
# Writing the clean dataframe to csv file
df_final.to_csv('../cleaned_csv/integrated_data.csv', index=False)