## Data cleaning

In [1]:
## Required packages loaded
import pandas as pd
import numpy as np
import re

### Covid_19 stats dataset

In [4]:
# Load the data from csv file into a data frame
xlsx = pd.ExcelFile('../datasets/owid-covid-data-2.xlsx')
covid19_stats = pd.read_excel(xlsx, 'Sheet1')

In [5]:
# Check the dataframe
covid19_stats.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [6]:
# Check the row and column count of the dataframe
covid19_stats.shape

(109100, 62)

In [7]:
# Check the null values in all columns
covid19_stats.isnull().sum()

iso_code                           0
continent                       5047
location                           0
date                               0
total_cases                     4677
                               ...
handwashing_facilities         60212
hospital_beds_per_thousand     20533
life_expectancy                 5557
human_development_index        11666
excess_mortality              105226
Length: 62, dtype: int64

In [8]:
# Since we are going to use the actual numbers from the total_cases,new_cases,total_deaths,new_deaths columns
# we are going to drop the below columns
covid19_stats.drop('new_cases_smoothed', inplace=True, axis=1)
covid19_stats.drop('new_deaths_smoothed', inplace=True, axis=1)
covid19_stats.drop('total_cases_per_million', inplace=True, axis=1)
covid19_stats.drop('new_cases_per_million', inplace=True, axis=1)
covid19_stats.drop('new_cases_smoothed_per_million', inplace=True, axis=1)
covid19_stats.drop('total_deaths_per_million', inplace=True, axis=1)
covid19_stats.drop('new_deaths_per_million', inplace=True, axis=1)
covid19_stats.drop('new_deaths_smoothed_per_million', inplace=True, axis=1)

In [9]:
# Since we are going to use the actual numbers from the icu_patients,hosp_patients columns
# we are going to drop the below columns
covid19_stats.drop('icu_patients_per_million', inplace=True, axis=1)
covid19_stats.drop('hosp_patients_per_million', inplace=True, axis=1)
covid19_stats.drop('weekly_icu_admissions', inplace=True, axis=1)
covid19_stats.drop('weekly_icu_admissions_per_million', inplace=True, axis=1)
covid19_stats.drop('weekly_hosp_admissions', inplace=True, axis=1)
covid19_stats.drop('weekly_hosp_admissions_per_million', inplace=True, axis=1)

In [10]:
# Since we are going to use the actual numbers from the total_tests,new_tests columns
# we are going to drop the below columns
covid19_stats.drop('total_tests_per_thousand', inplace=True, axis=1)
covid19_stats.drop('new_tests_per_thousand', inplace=True, axis=1)
covid19_stats.drop('new_tests_smoothed', inplace=True, axis=1)
covid19_stats.drop('new_tests_smoothed_per_thousand', inplace=True, axis=1)
covid19_stats.drop('tests_per_case', inplace=True, axis=1)
covid19_stats.drop('tests_units', inplace=True, axis=1)

In [11]:
# Since we are going to use the actual numbers from the new_vaccinations,total_vaccinations,people_vaccinated,
# people_fully_vaccinated columns
# we are going to drop the below columns
covid19_stats.drop('total_boosters', inplace=True, axis=1)
covid19_stats.drop('new_vaccinations_smoothed', inplace=True, axis=1)
covid19_stats.drop('total_vaccinations_per_hundred', inplace=True, axis=1)
covid19_stats.drop('people_vaccinated_per_hundred', inplace=True, axis=1)
covid19_stats.drop('people_fully_vaccinated_per_hundred', inplace=True, axis=1)
covid19_stats.drop('total_boosters_per_hundred', inplace=True, axis=1)
covid19_stats.drop('new_vaccinations_smoothed_per_million', inplace=True, axis=1)

In [12]:
# Since we are going to use the actual numbers from the stringency_index,population columns
# we are going to drop the below columns
covid19_stats.drop('population_density', inplace=True, axis=1)
covid19_stats.drop('median_age', inplace=True, axis=1)
covid19_stats.drop('aged_65_older', inplace=True, axis=1)
covid19_stats.drop('aged_70_older', inplace=True, axis=1)
covid19_stats.drop('gdp_per_capita', inplace=True, axis=1)
covid19_stats.drop('extreme_poverty', inplace=True, axis=1)
covid19_stats.drop('cardiovasc_death_rate', inplace=True, axis=1)
covid19_stats.drop('diabetes_prevalence', inplace=True, axis=1)
covid19_stats.drop('female_smokers', inplace=True, axis=1)
covid19_stats.drop('male_smokers', inplace=True, axis=1)
covid19_stats.drop('handwashing_facilities', inplace=True, axis=1)
covid19_stats.drop('hospital_beds_per_thousand', inplace=True, axis=1)
covid19_stats.drop('life_expectancy', inplace=True, axis=1)
covid19_stats.drop('human_development_index', inplace=True, axis=1)
covid19_stats.drop('excess_mortality', inplace=True, axis=1)

In [13]:
# Since we are not going to use the actual numbers from the reproduction_rate,icu_patients and hosp_patients columns
# we are going to drop the below columns
covid19_stats.drop('reproduction_rate', inplace=True, axis=1)
covid19_stats.drop('icu_patients', inplace=True, axis=1)
covid19_stats.drop('hosp_patients', inplace=True, axis=1)

In [14]:
# Final dataset with actual columns to analyse
covid19_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109100 entries, 0 to 109099
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iso_code                 109100 non-null  object
 1   continent                104053 non-null  object
 2   location                 109100 non-null  object
 3   date                     109100 non-null  object
 4   total_cases              104423 non-null  float64
 5   new_cases                104420 non-null  float64
 6   total_deaths             93996 non-null   float64
 7   new_deaths               94151 non-null   float64
 8   new_tests                48420 non-null   float64
 9   total_tests              48130 non-null   float64
 10  positive_rate            53215 non-null   float64
 11  total_vaccinations       21537 non-null   float64
 12  people_vaccinated        20614 non-null   float64
 13  people_fully_vaccinated  17634 non-null   float64
 14  new_vaccinations         17888 non-null   float64
 15  stringency_index         90632 non-null   float64
 16  population               108382 non-null  float64
dtypes: float64(13), object(4)
memory usage: 14.2+ MB

In [15]:
# Final dataset all column null check
covid19_stats.isnull().sum()

iso_code                       0
continent                   5047
location                       0
date                           0
total_cases                 4677
new_cases                   4680
total_deaths               15104
new_deaths                 14949
new_tests                  60680
total_tests                60970
positive_rate              55885
total_vaccinations         87563
people_vaccinated          88486
people_fully_vaccinated    91466
new_vaccinations           91212
stringency_index           18468
population                   718
dtype: int64

In [16]:
# convert the column iso_code to string datatype
covid19_stats['iso_code'] = covid19_stats['iso_code'].astype('string')
# convert the column continent to string datatype
covid19_stats['continent'] = covid19_stats['continent'].astype('string')
# convert the column location to string datatype
covid19_stats['location'] = covid19_stats['location'].astype('string')
# convert the column location to datetime datatype
covid19_stats['date'] = pd.to_datetime(covid19_stats['date'])

In [17]:
# Final dataset with actual columns to analyse
covid19_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109100 entries, 0 to 109099
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iso_code                 109100 non-null  string
 1   continent                104053 non-null  string
 2   location                 109100 non-null  string
 3   date                     109100 non-null  datetime64[ns]
 4   total_cases              104423 non-null  float64
 5   new_cases                104420 non-null  float64
 6   total_deaths             93996 non-null   float64
 7   new_deaths               94151 non-null   float64
 8   new_tests                48420 non-null   float64
 9   total_tests              48130 non-null   float64
 10  positive_rate            53215 non-null   float64
 11  total_vaccinations       21537 non-null   float64
 12  people_vaccinated        20614 non-null   float64
 13  people_fully_vaccinated  17634 non-null   float64
 14  new_vaccinations         17888 non-null   float64
 15  stringency_index         90632 non-null   float64
 16  population               108382 non-null  float64
dtypes: datetime64[ns](1), float64(13), string(3)
memory usage: 14.2 MB

In [18]:
covid19_stats[covid19_stats['continent'].isnull()]

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population
536,OWID_AFR,<NA>,Africa,2020-02-13,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.340598e+09
537,OWID_AFR,<NA>,Africa,2020-02-14,1.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.340598e+09
538,OWID_AFR,<NA>,Africa,2020-02-15,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.340598e+09
539,OWID_AFR,<NA>,Africa,2020-02-16,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.340598e+09
540,OWID_AFR,<NA>,Africa,2020-02-17,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.340598e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107581,OWID_WRL,<NA>,World,2021-08-08,202728255.0,437309.0,4294361.0,7429.0,NaN,NaN,NaN,4.470114e+09,2.345632e+09,1.210396e+09,30387974.0,NaN,7.794799e+09
107582,OWID_WRL,<NA>,World,2021-08-09,203384856.0,656601.0,4302961.0,8600.0,NaN,NaN,NaN,4.499785e+09,2.364787e+09,1.225952e+09,29671468.0,NaN,7.794799e+09
107583,OWID_WRL,<NA>,World,2021-08-10,204022307.0,637451.0,4314527.0,11566.0,NaN,NaN,NaN,4.552000e+09,2.380299e+09,1.237723e+09,52214162.0,NaN,7.794799e+09
107584,OWID_WRL,<NA>,World,2021-08-11,204729264.0,706957.0,4324483.0,9956.0,NaN,NaN,NaN,4.589910e+09,2.394926e+09,1.248658e+09,37910559.0,NaN,7.794799e+09
107585,OWID_WRL,<NA>,World,2021-08-12,205414138.0,684874.0,4334771.0,10288.0,NaN,NaN,NaN,4.620176e+09,2.403604e+09,1.257599e+09,30265997.0,NaN,7.794799e+09

In [19]:
covid19_stats = covid19_stats[~covid19_stats['iso_code'].isin(['OWID_ASI','OWID_AFR','OWID_EUR','OWID_EUN',
                                                               'OWID_INT','OWID_KOS','OWID_NAM','OWID_CYN',
                                                               'OWID_OCE','OWID_SAM','OWID_WRL'])]

In [20]:
covid19_stats[covid19_stats['continent'].isnull()]

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, total_deaths, new_deaths, new_tests, total_tests, positive_rate, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, stringency_index, population]
Index: []

In [21]:
# Final dataset all column null check
covid19_stats.isnull().sum()

iso_code                       0
continent                      0
location                       0
date                           0
total_cases                 4507
new_cases                   4515
total_deaths               14760
new_deaths                 14762
new_tests                  54973
total_tests                55279
positive_rate              50227
total_vaccinations         83739
people_vaccinated          84659
people_fully_vaccinated    87488
new_vaccinations           87334
stringency_index           13249
population                     0
dtype: int64

In [22]:
#list the final columns present in the dataframe
covid19_stats.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'new_tests', 'total_tests',
       'positive_rate', 'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'new_vaccinations', 'stringency_index',
       'population'],
      dtype='object')

#### Create the necessary dataframes to store the monthly stats

In [23]:
#create 2 dataframe: 
#1.covid19_monthly_subset will save the monthly data 
#2.covid19_monthly_total_subset will save the cummulative data upto that specific month

covid19_monthly_subset = covid19_stats[['iso_code', 'continent', 'location', 'date','new_cases','new_deaths','new_tests',
                                      'new_vaccinations','people_vaccinated','people_fully_vaccinated','population']]
covid19_monthly_total_subset = covid19_stats[['iso_code', 'continent', 'location', 'date','total_cases','total_deaths',
                                              'total_tests','total_vaccinations','stringency_index','population']]
covid19_monthly_subset['population'] = covid19_monthly_subset['population'].astype('str')

#covid19_monthly_total_subset['population'] = covid19_monthly_total_subset['population'].astype('str')

<ipython-input-23-961adf0f45a8>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid19_monthly_subset['population'] = covid19_monthly_subset['population'].astype('str')

#### Working on the dataframe to store details of per month stats

In [24]:
#create a new column that will store the month and year details only

covid19_monthly_subset['month_year'] = covid19_monthly_subset['date'].dt.strftime('%B %Y')
covid19_monthly_total_subset['month_year'] = covid19_monthly_total_subset['date'].dt.strftime('%B %Y')

#rename the two column, to make it more understandable
covid19_monthly_subset.rename(columns={'people_vaccinated':'partially_vaccinated',
                                         'people_fully_vaccinated':'fully_vaccinated'},
                              inplace=True)

<ipython-input-24-8efe9f8043f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid19_monthly_subset['month_year'] = covid19_monthly_subset['date'].dt.strftime('%B %Y')
<ipython-input-24-8efe9f8043f3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid19_monthly_total_subset['month_year'] = covid19_monthly_total_subset['date'].dt.strftime('%B %Y')
/Users/kajolsingh/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

#### Filter the g20 countries

In [25]:
g20_countries = ['Argentina', 'Australia', 'Brazil', 'Canada', 'China', 'Germany', 'France',
                 'India', 'Indonesia', 'Italy', 'Japan', 'Mexico', 'Russia', 'Saudi Arabia', 
                 'South Africa', 'South Korea', 'Turkey', 'United Kingdom' ,'United States']

In [26]:
covid19_monthly_subset = covid19_monthly_subset[covid19_monthly_subset['location'].isin(g20_countries)]

In [27]:
covid19_monthly_total_subset = covid19_monthly_total_subset[covid19_monthly_total_subset['location'].isin(g20_countries)]

In [28]:
covid19_monthly_subset['location']=covid19_monthly_subset['location'].str.strip()
covid19_monthly_total_subset['location']=covid19_monthly_total_subset['location'].str.strip()

#### Impute Missing Values using Interpolate since we have time series data

In [29]:
print("covid19_monthly_subset:",covid19_monthly_subset.info())
print("covid19_monthly_total_subset:",covid19_monthly_total_subset.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10627 entries, 3895 to 103956
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   iso_code              10627 non-null  string
 1   continent             10627 non-null  string
 2   location              10627 non-null  string
 3   date                  10627 non-null  datetime64[ns]
 4   new_cases             10470 non-null  float64
 5   new_deaths            9995 non-null   float64
 6   new_tests             7830 non-null   float64
 7   new_vaccinations      3482 non-null   float64
 8   partially_vaccinated  3260 non-null   float64
 9   fully_vaccinated      3004 non-null   float64
 10  population            10627 non-null  object
 11  month_year            10627 non-null  object
dtypes: datetime64[ns](1), float64(6), object(2), string(3)
memory usage: 1.1+ MB
covid19_monthly_subset: None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10627 entries, 3895 to 103956
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   iso_code            10627 non-null  string
 1   continent           10627 non-null  string
 2   location            10627 non-null  string
 3   date                10627 non-null  datetime64[ns]
 4   total_cases         10476 non-null  float64
 5   total_deaths        9996 non-null   float64
 6   total_tests         7680 non-null   float64
 7   total_vaccinations  3663 non-null   float64
 8   stringency_index    10476 non-null  float64
 9   population          10627 non-null  float64
 10  month_year          10627 non-null  object
dtypes: datetime64[ns](1), float64(6), object(1), string(3)
memory usage: 996.3+ KB
covid19_monthly_total_subset: None

In [30]:
covid19_monthly_subset['new_cases']= covid19_monthly_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['new_cases']].interpolate(method='linear'))
covid19_monthly_subset['new_deaths']= covid19_monthly_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['new_deaths']].interpolate(method='linear'))
covid19_monthly_subset['new_tests']= covid19_monthly_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['new_tests']].interpolate(method='linear'))
covid19_monthly_subset['new_vaccinations']= covid19_monthly_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['new_vaccinations']].interpolate(method='linear'))
covid19_monthly_subset['partially_vaccinated']= covid19_monthly_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['partially_vaccinated']].interpolate(method='linear'))
covid19_monthly_subset['fully_vaccinated']= covid19_monthly_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['fully_vaccinated']].interpolate(method='linear'))

In [31]:
covid19_monthly_total_subset['total_cases']= covid19_monthly_total_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['total_cases']].interpolate(method='linear'))
covid19_monthly_total_subset['total_deaths']= covid19_monthly_total_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['total_deaths']].interpolate(method='linear'))
covid19_monthly_total_subset['total_tests']= covid19_monthly_total_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['total_tests']].interpolate(method='linear'))
covid19_monthly_total_subset['total_vaccinations']= covid19_monthly_total_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['total_vaccinations']].interpolate(method='linear'))
covid19_monthly_total_subset['stringency_index']= covid19_monthly_total_subset.groupby(
        ['iso_code', 'continent', 'location']).apply(lambda group: group[['stringency_index']].interpolate(method='linear'))

In [32]:
#even after interpolate, there are some missing value,which would be imputed using fillna(0)
covid19_monthly_subset.fillna(0,inplace=True)
covid19_monthly_total_subset.fillna(0,inplace=True)

In [33]:
#setting the index of the two dataframes to date so that we can perform some statistical operations 
#for specific monthly,basically we will now save the data month wise.

covid19_monthly_subset.set_index('date', inplace=True)
covid19_monthly_subset.index = pd.to_datetime(covid19_monthly_subset.index)
covid19_monthly_total_subset.set_index('date', inplace=True)
covid19_monthly_total_subset.index = pd.to_datetime(covid19_monthly_total_subset.index)

In [34]:
print("covid19_monthly_subset:",covid19_monthly_subset.info())
print("covid19_monthly_total_subset:",covid19_monthly_total_subset.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10627 entries, 2020-01-01 to 2021-08-12
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   iso_code              10627 non-null  string
 1   continent             10627 non-null  string
 2   location              10627 non-null  string
 3   new_cases             10627 non-null  float64
 4   new_deaths            10627 non-null  float64
 5   new_tests             10627 non-null  float64
 6   new_vaccinations      10627 non-null  float64
 7   partially_vaccinated  10627 non-null  float64
 8   fully_vaccinated      10627 non-null  float64
 9   population            10627 non-null  object
 10  month_year            10627 non-null  object
dtypes: float64(6), object(2), string(3)
memory usage: 996.3+ KB
covid19_monthly_subset: None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10627 entries, 2020-01-01 to 2021-08-12
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   iso_code            10627 non-null  string
 1   continent           10627 non-null  string
 2   location            10627 non-null  string
 3   total_cases         10627 non-null  float64
 4   total_deaths        10627 non-null  float64
 5   total_tests         10627 non-null  float64
 6   total_vaccinations  10627 non-null  float64
 7   stringency_index    10627 non-null  float64
 8   population          10627 non-null  float64
 9   month_year          10627 non-null  object
dtypes: float64(6), object(1), string(3)
memory usage: 913.3+ KB
covid19_monthly_total_subset: None

#### Round the integer columns to their nearest whole number

In [35]:
#for the 1st dataset

for col in covid19_monthly_subset.select_dtypes(include=['float64']):
    covid19_monthly_subset[col]=covid19_monthly_subset[col].apply(lambda x : round(x))

#for the 2nd dataset
for col in covid19_monthly_total_subset.select_dtypes(include=['float64']):
    covid19_monthly_total_subset[col]=covid19_monthly_total_subset[col].apply(lambda x : round(x))

In [36]:
#recreate the monthly dataframe to save month wise data for each location

covid19_monthly_subset = covid19_monthly_subset.groupby(
    ['iso_code', 'continent', 'location','month_year','population']).resample('1M').sum()

In [37]:
#once create insert back the indexes as the columns
covid19_monthly_subset.reset_index(level=[0,1,2,3,4],inplace=True)

In [38]:
covid19_monthly_subset.drop(columns=['new_vaccinations','new_tests'],inplace=True)

#### Working on the dataframe to store details of cummulative month stats

In [39]:
#recreate the monthly cummulative dataframe to save month wise data for each location having vaccinations deta
covid19_monthly_total_vaccine_subset = covid19_monthly_total_subset.sort_index()

covid19_monthly_total_vaccine_subset=covid19_monthly_total_vaccine_subset.groupby(
    ['iso_code', 'continent', 'location','month_year','population']).resample('1M').sum()

covid19_monthly_total_vaccine_subset['final_total_vaccinations'] = covid19_monthly_total_vaccine_subset.groupby(
    ['iso_code', 'continent', 'location'])['total_vaccinations'].cumsum().astype('str')

In [40]:
#recreate the monthly cummulative dataframe to save month wise data for each location having total deaths,total
# cases,total tests details only

covid19_monthly_total_nonvaccine_subset = covid19_monthly_total_subset.groupby(
    ['iso_code', 'continent', 'location']).resample('1M')
covid19_monthly_total_nonvaccine_subset = covid19_monthly_total_nonvaccine_subset.max()
#covid19_monthly_total_nonvaccine_subset.drop('total_vaccinations', inplace=True, axis=1)

In [41]:
#drop unnecessary columns 
covid19_monthly_total_vaccine_subset.drop(columns=['population','stringency_index',
                                                   'total_tests','total_deaths','total_cases',
                                                  'total_vaccinations'],inplace=True)
covid19_monthly_total_vaccine_subset.reset_index(level=[0,1,2,3,4],inplace=True)

#rename columns to keep it meaningful
covid19_monthly_total_vaccine_subset.rename(columns={'final_total_vaccinations':'cumulative_vaccinations_count'},
                              inplace=True)

In [42]:
covid19_monthly_subset['population']=pd.to_numeric(covid19_monthly_subset['population'])

#### Rearrange the columns

In [43]:
columns = ['iso_code', 'continent', 'location', 'month_year', 'population','stringency_index',
            'total_cases', 'total_deaths', 'total_tests']
covid19_monthly_total_nonvaccine_subset = covid19_monthly_total_nonvaccine_subset.reindex(columns=columns)

In [44]:
covid19_monthly_subset['total_vaccinations']=covid19_monthly_subset['partially_vaccinated']+covid19_monthly_subset['fully_vaccinated']

#### Rename the columns : iso, location and continent

In [45]:
covid19_monthly_total_nonvaccine_subset.rename(columns={'iso_code':'ISO',
                                               'continent':'REGION',
                                               'location' : 'COUNTRY'},inplace=True
                                              )

In [46]:
covid19_monthly_total_vaccine_subset.rename(columns={'iso_code':'ISO',
                                               'continent':'REGION',
                                               'location' : 'COUNTRY'},inplace=True
                                           )

In [47]:

covid19_monthly_subset.rename(columns={'iso_code':'ISO',
                                               'continent':'REGION',
                                               'location' : 'COUNTRY'},inplace=True
                                           )

#### Display the final cleaned dataframes

In [48]:
covid19_monthly_subset.sample(3)

,ISO,REGION,COUNTRY,month_year,population,new_cases,new_deaths,partially_vaccinated,fully_vaccinated,total_vaccinations
date,,,,,,,,,,
2020-08-31,GBR,Europe,United Kingdom,August 2020,6.788600e+07,33290,315,0,0,0
2021-08-31,CHN,Asia,China,August 2021,1.439324e+09,1257,0,7464000000,2679588000,10143588000
2021-07-31,USA,North America,United States,July 2021,3.310026e+08,1313306,8671,5756064650,4975166500,10731231150

In [49]:
covid19_monthly_total_nonvaccine_subset.sample(3)

,,,,ISO,REGION,COUNTRY,month_year,population,stringency_index,total_cases,total_deaths,total_tests
iso_code,continent,location,date,,,,,,,,,
TUR,Asia,Turkey,2020-04-30,TUR,Asia,Turkey,April 2020,84339067,78,120204,3174,1033617
CHN,Asia,China,2020-07-31,CHN,Asia,China,July 2020,1439323774,78,84383,4634,150232558
IND,Asia,India,2021-07-31,IND,Asia,India,July 2021,1380004385,82,31655824,424351,466427038

In [50]:
covid19_monthly_total_vaccine_subset.sample(3)

,ISO,REGION,COUNTRY,month_year,population,cumulative_vaccinations_count
date,,,,,,
2020-11-30,USA,North America,United States,November 2020,331002647,43791131892
2020-07-31,USA,North America,United States,July 2020,331002647,12111629834
2021-02-28,KOR,Asia,South Korea,February 2021,51269183,381058826

### Saving stats dataset

In [52]:
covid19_monthly_total_nonvaccine_subset.to_csv("../cleaned_csv/covid19_cumulative_monthly_stats.csv",index=False)
covid19_monthly_subset.to_csv("../cleaned_csv/covid19_monthly_statistics.csv",index=False)

In [53]:
covid19_monthly_total_vaccine_subset.to_csv("../cleaned_csv/covid19_cumulative_monthly_vacc_stats.csv",index=False)